* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* -------------- left bar ------------------- */

.leftsidebar-contents {
  padding: 20px;

  list-style: none;

  display: flex;

  flex-direction: column;

  gap: 2rem;
}

.leftsidebar-contents li {
  display: flex;

  align-items: center;

  gap: 0.5rem;
}

.leftsidebar-contents li a {
  color: #000000d2;

  font-weight: 500;
}

.menu {
  display: none;

  position: absolute;

  top: 9%;

  left: 0%;

  z-index: 10000;

  color: #000000;

  transition: 0.5s all;
  cursor: pointer;
}

.mobile {
  display: none;

  position: fixed;

  background: #000;

  padding: 5rem 3rem;

  transition: 0.5s ease-in-out;

  height: 80vh;

  top: 9.4%;

  left: -5%;

  border-radius: 20px;

  background-color: #000;

  z-index: 10;
}

@media (max-width: 1180px) {
  .leftsidebar-contents {
    padding: 5px;
  }

  .leftsidebar-contents li {
    gap: 0.1rem;
  }

  .leftsidebar-contents li a,
  .leftsidebar-contents li span {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .menu {
    display: flex;

    align-items: center;

    justify-content: center;

    background: #ffffff;

    width: 50px;

    height: 50px;

    padding: 0.5rem;

    /* border-radius: 50%; */
  }

  .ls-bar-exam-page {
    grid-template-columns: 1fr;
  }

  .menu ul {
    display: none;

    background: none;
  }

  .leftsidebar-contents {
    gap: 5rem;

    width: 100%;

    align-items: flex-start;

    background: #000000cb;

    height: 100%;

    border-radius: 18px;
  }

  .left-sidebar-div {
    display: none;
  }

  .leftsidebar-contents li a {
    color: #fff;

    font-size: 1.2rem;
  }

  .leftsidebar-contents li span {
    font-size: 1.9rem;

    text-align: left;
  }

  .leftsidebar-contents li {
    color: #fff;

    width: 100%;

    gap: 0.5rem;
  }

  .mobile {
    display: block;

    width: 300px;

    animation: mobile linear 0.5s alternate;
  }
}

@keyframes mobile {
  0% {
    transform: translatey(-100%);
  }

  100% {
    transform: translatey(0%);

    background: #000;
  }
}
