.header-div1 {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}

.header-div2 {
    margin-left: 45px;
    margin-right: 45px;
}

.header-links {
    display: flex;
    gap: 105px;
    border-bottom: 2px solid rgb(168, 167, 167);
}

.content-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.active {
 
    border-bottom: 3px solid rgb(0, 38, 255);
    width: 100px;
}

