// .contentClass {
//     position: fixed;
//     top: 50px;
//     bottom: 100px;
//     left: 0;
//     right: 0;
//     overflow: auto;
//     font-size: 12px;

//     .insDiv {
//         line-height: 28px;
//     }

//     .grayDiv {
//         width: 35px;
//         height: 35px;
//         text-align: center;
//         line-height: 35px;
//         cursor: pointer;
//         background: url(../../Images/grayBox.png) no-repeat center;
//         color: #000;
//     }
//     .orangeDiv {
//         width: 35px;
//         height: 35px;
//         text-align: center;
//         line-height: 35px;
//         cursor: pointer;
//         background: url(../../Images/orangeBox.png) no-repeat center;
//         color: #fff;
//     }

//     .greenDiv {
//         width: 35px;
//         height: 35px;
//         text-align: center;
//         line-height: 35px;
//         cursor: pointer;
//         background: url(../../Images/greenBox.png) no-repeat center;
//         color: #fff;
//     }

//     .purpleDiv {
//         width: 35px;
//         height: 35px;
//         text-align: center;
//         line-height: 35px;
//         cursor: pointer;
//         background: url(../../Images/purpleBox.png) no-repeat center;
//         color: #fff;
//     }

//     .purpleTickDiv {
//         width: 35px;
//         height: 35px;
//         text-align: center;
//         line-height: 35px;
//         cursor: pointer;
//         background: url(../../Images/purpleTickBox.png) no-repeat center;
//         color: #fff;
//     }


// }


.Quiz_header {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50%;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    background: rgb(0, 0, 0);
    gap: 2rem;


}

.Quiz_header .Q_logo img {
    width: 200px;
}

.Quiz_header .Q_title {
    color: #ffffff;
}

.Q_container {
    width: 100%;
    padding: 30px 50PX;
    height: 80vh;
    margin: 10px auto;
    font-size: 0.9rem;
    /* border:3PX solid #000; */
    overflow-y: scroll;
}

.Q_container h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.Q_container h3 {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 500;

}

.Q_container ol li {
    margin: 1px 0;
    line-height: 200%;
    font-size: 0.9rem;

}

.Q_container ol li span {
    font-weight: bold;
    font-size: 0.9rem;
}

.Q_container ol .img_container {
    margin: 30px auto;
    font-size: 0.9rem;
    line-height: 170%;
}

.Q_container ol .img_container p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;

}

.Q_container ol .img_container .intro_img {
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* background: #000; */

}

.Q_container ol .img_container .intro_img1 {
    background: url(../../Images/grayBox.png) center center/cover no-repeat;
    background-size: 100%;
    color: #000;
}

.Q_container ol .img_container .intro_img2 {
    background: url(../../Images/orangeBox.png) center center/cover no-repeat;
    background-size: 100%;
}

.Q_container ol .img_container .intro_img3 {
    background: url(../../Images/greenBox.png) center center/cover no-repeat;
    background-size: 100%;
}

.Q_container ol .img_container .intro_img4 {
    background: url(../../Images/purpleBox.png) center center/cover no-repeat;
    background-size: 100%;
}

.Q_container ol .img_container .intro_img5 {
    background: url(../../Images/purpleTickBox.png) center center/cover no-repeat;
    background-size: 100%;
}

.intro_next_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(119, 115, 115, 0.644);
    padding: 20px 0;
}

.intro_next_btn {
    background: #0741ff;
    padding: 8px 60px;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}













/* ++++++++++++++++++++++++++++++++ geneal introducation page ===+++++++++++++++++++++++++++++++++++ */
.Quiz_General_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.Quiz_General_header h1 {
    font-size: 1rem;
}

.g_container h3 {
    margin: 1rem 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.g_container .Gn_table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g_container .Gn_table table {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.g_container .Gn_table table,
.g_container .Gn_table table tr,
.g_container .Gn_table table th,
.g_container .Gn_table table td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 1rem;
}

.g_container .gn_points {
    line-height: 300%;

}

.g_container .gn_points li {
    list-style: disc;

}

.gn_next_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(119, 115, 115, 0.644);
    padding: 20px 0;
}

.gn_next_btn_container button {
    background: none;
    border: none;

}

.gn_next_btn {
    background: #0741ff;
    padding: 8px 60px;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}
.gn_next_btn_bull{
    background: #0741ff58;
    padding: 8px 60px;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}


.gn_checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
    font-size: 18px;
}

.gn_checkbox b {
    font-weight: 400;
    color: #0741ff;
    text-decoration: underline;
    cursor: pointer;
}

.gn_checkbox .checkbox {

    width: 20px;
    height: 20px;

}

.gn_checkbox .checkbox {

    width: 15px;
    height: 15px;

}