
 .right_bar_Buttons {
    background: azure;
    width:40px;
height: 35px;
    border: none;
    border-radius: 5px;

}




.right-side-bar {
    /* margin-top: 100px; */
  

}

.subject {
    font-weight: 600;
    font-size: large;

}

.header-para {
    font-size: 500;
}

.ques-btn {
    display: flex;
}

.rightSidebar-topHeader {
    padding: 10px;
    font-weight: 600;
    background-color: white;
}

.btn-ul {
 display: grid;

 grid-template-columns: repeat(8,1fr);

 gap: 0.5rem;
 justify-content: center;
 align-items: center;
    /* border-radius: 5px; */
}

.quesAns-btn {
    border-radius: 5px;
    /* border: 1px solid black; */
    /* background-color: rgb(181, 221, 223); */
    margin: 0 auto;
    padding: 10px;
}

.sidebar-footer-header {

    margin-right: 225px;
    margin-bottom: 20px;

}



.footer-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.inst-btns {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.instruction-btn1 {
    /* border: 1px solid black; */
    border: none;
    /* background-color: rgb(26, 194, 90); */
    background: url(../../Images/greenBox.png);
    color: white;
    padding: 5px;
    width: 32px;
    height: 26px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.instruction-btn2 {
    /* border: 1px solid black; */
    border: none;
    /* background-color: rgb(230, 65, 65); */
    background: url(../../Images/orangeBox.png);
    background-size: cover;
    color: white;
    padding: 5px;
    width: 40px;
    height: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.instruction-btn3 {
    /* border: 1px solid black; */
    border: none;
    color: white;
    width: 29px;
    height: 29px;
    /* background-color: rgb(157, 123, 238); */
    background: url(../../Images/purpleBox.png);
    padding: 9px;
    /* border-radius: 20px; */
}

.instruction-btn4 {
    /* border: 1px solid black; */
    color: white;
    width: 34px;
    height: 35px;
    /* background-color: rgb(157, 123, 238); */
    background: url(../../Images/purpleTickBox.png);
    /* padding: 9px; */
    /* border-radius: 20px; */
    border: none;
}

.instruction-btn5 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px;   
}

.instruction-btn6 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px;   
    background: red;
}


.TestResultPage .TestHeading{
    text-align: center;
}